.about-card {
    padding: 10rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
style attribute {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
    pointer-events: all;
}
.container {
    height: 100%;
    padding: 0 1rem;
    max-width: 1280px;
    margin: 0 auto;
}
div {
    display: block;
}
style attribute {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
    pointer-events: all;
}
.intro {
    background-color: #6D9886;
}
.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}
main {
    display: block;
}
.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #F7F7F7;
    color: black;
    box-shadow: 0 2px 2px 2px rgb(9 9 9 / 23%);
}
nav {
    display: block;
}
.has-scroll-smooth body {
    overflow: hidden;
}
.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}
element.style {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
    pointer-events: all;
}
section {
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
